<div class="footer" style="background: #1a237e;">
    <div class="container">
        <div class="first ml-3">
            <h4 class="ml-3" style="text-transform:uppercase">ABOUT US</h4>
            <p >
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                 Cumque quia similique assumenda praesentium,  
                 veritatis architecto animi. Obcaecati eaque et similique.
            </p>
        </div>
        <div class="second">
            <h4>LINKE</h4>
            <ul class="list">
                <li>
                    <a href="#"> à propos de nous </a> 
                </li>
                <li>
                    <a href="#">Demmander service</a> 
                </li>
                <li>
                    <a href="#">Nous produits</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-instagram fa-3x " aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-facebook-square fa-3x ml-2" aria-hidden="true"></i></a>
                    <a href="#"><i class="fa fa-twitter-square fa-3x ml-2" aria-hidden="true"></i></a>
                </li>
            </ul>
        </div>
        <div class="third ml-3">
            <h4>CONTACTER NOUS</h4>
            <p>
                203 rue jemal abdenasser, Nouakchott, MAURITANIA</p>
            <p><i class="fa fa-phone" aria-hidden="true"></i>
                +222 42 20 02  00
            </p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i>
                brawa.group@gmail.com
            </p>
        </div>
    </div>
    <div class="copyright">
        <p class="ml-3">Copyright ©2021 All rights reserved | BRAWA application</p>
    </div>
</div>
